@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8f9fd;
  font-family: "Poppins", sans-serif;
}

.markdown p {
  margin-top: 0rem;
  margin-bottom: 0.75rem;
}

.btn-blue {
  @apply bg-blue-500 hover:bg-blue-600 active:translate-y-0.5 text-white rounded-lg disabled:bg-blue-400 disabled:hover:bg-none disabled:active:translate-y-0;
}
.btn-green {
  @apply bg-green-500 hover:bg-green-600 active:translate-y-0.5 text-white rounded-lg disabled:bg-green-400 disabled:hover:bg-none disabled:active:translate-y-0;
}

.btn-gray {
  @apply bg-gray-200 hover:bg-gray-300 active:translate-y-0.5 text-gray-600 rounded-lg flex items-center outline-none;
}

.img-container {
  @apply overflow-hidden rounded-lg;
}

.img-full {
  @apply w-full h-full object-cover object-center;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #a4a0a0;
  border-radius: 25px;
}

::-webkit-scrollbar-track {
  background: #d1cece;
}
